body {
    background-color: #fbfbf8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black
}

h1, h2, h3 {
    text-align: center;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}